@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import 'src/assets/image/bootstrap.min.css';


:root {
    --fc-border-color: red;
    --fc-daygrid-event-dot-width: 5px;
  }
  
  .calendar-container {
    width: 100%; 
    border-radius: 10px;
    margin: 0 auto; 
    border: 1px solid #ccc;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); 
  }
  
  .table-user {
    --size: 40%;
    width: var(--size);
    height: var(--size);
    object-fit:contain;
    border-radius: 5%;
    margin-left: 20%;
  }


  .dialog-box {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    width: 80%;
    height: 80%;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    z-index: 9999;
  }
  
  .dialog-box::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  
  .dialog-box .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  
  .dialog-box .x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
  .dialog-box h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .dialog-box p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
  }
  
  .dialog-box p a:visited {
    color: rgb(var(--vs-primary));
  }
  

 


.form {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin-left: 10%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
  }
  
  .form .title {
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .form input {
    outline: 0;
    border: 1px solid rgb(83, 81, 81);
    padding: 8px 14px;
    border-radius: 8px;
    width: 100%;
    height: 50px;
  }
  
  .form textarea {
    border-radius: 8px;
    height: 100px;
    width: 100%;
    resize: none;
    outline: 0;
    padding: 8px 14px;
    border: 1px solid rgb(219, 213, 213);
  }
  
  .form button {
    align-self: flex-end;
    padding: 8px;
    outline: 0;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    background-color: black;
    color: #fff;
    cursor: pointer;
  }


        
  .custum-file-upload {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #949494;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #949494;
  }
  
  .custum-file-upload input {
    display: none;
  }



