
.calendar-container {
    width: 100%; 
    height: 80%;
    border-radius: 10px;
    margin: 0 auto; 
    border: 1px solid #ccc; 
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);


}





.table-user {
    --size: 40%;
    width: var(--size);
    height: var(--size);
    object-fit:contain;
    border-radius: 5%;
    margin-left: 20%;
  }
  
  .dialog-box {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    width: 80%;
    height: 80%;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    z-index: 9999;
  }
  
  .dialog-box::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  
  .dialog-box .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  
  .dialog-box .x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
  .dialog-box h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .dialog-box p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
  }
  
  .dialog-box p a:visited {
    color: rgb(var(--vs-primary));
  }
  
  
