<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
  <body>
    <div class="container">
      <div class="sidebar">
        <div class="user-account">
          <img src="assets/image/logo.jpg" alt="logo" />
          <h2>FA Admins</h2>
        </div>
        <ul class="links">
          <h4>Main Menu</h4>
          <li>
            <span class="material-symbols-outlined">dashboard</span>
            <a routerLink="/home">Dashboard</a>
          </li>
          <li>
            <span class="material-symbols-outlined">show_chart</span>
            <a routerLink="/actualite">Actualités</a>
          </li>
          <li>
            <span class="material-symbols-outlined">flag</span>
            <a >Events</a>
          </li>
          <hr />
          <h4>For Us</h4>
          <li>
            <span class="material-symbols-outlined">calendar_month</span>
            <a routerLink="/calendrier">Calendrier</a>
          </li>
          <li>
            <span class="material-symbols-outlined">description</span>
            <a routerLink="/document">Documents </a>
          </li>
       
          <li>
            <span class="material-symbols-outlined">mail</span>
            <a routerLink="/send_mail">Send Message</a>
          </li>
          
          <hr />
          <h4>Account</h4>
          <li>
            <span class="material-symbols-outlined">group</span>
            <a>Members</a>
          </li>
          <li>
            <span class="material-symbols-outlined">person_add</span>
            <a routerLink="/recru">Recrutement</a>
          </li>
          <li>
            <span class="material-symbols-outlined">notifications</span>
            <a >notifications</a>
          </li>
          <li class="logout">
            <span class="material-symbols-outlined">logout</span>
            <a routerLink="/login">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </body>
