.card {
    margin-left: 10%;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
  }
  
  .title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .group {
    position: relative;
  }
  
  .form .group label {
    font-size: 14px;
    color: #ffffff;
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: transparent;
    transition: all .3s ease;
  }
  
  .form .group input,
  .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  .form .group input:placeholder-shown+ label, .form .group textarea:placeholder-shown +label {
    top: 10px;
    background-color: transparent;
  }
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: #3366cc;
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: transparent;
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  
  
  
  
  
  .form button {
    margin-top: 2%;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .chips-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .chip {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
  }
  
  .close-icon {
    cursor: pointer;
    margin-left: 5px;
  }
  
  
  
  
  input,
   textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  
      
  .custum-file-upload {
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border: 2px dashed #e8e8e8;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0px 48px 35px -48px #e8e8e8;
  }
  
  .custum-file-upload .icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .icon svg {
    height: 80px;
    fill: #949494;
  }
  
  .custum-file-upload .text {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .custum-file-upload .text span {
    font-weight: 400;
    color: #949494;
  }
  
  .custum-file-upload input {
    display: none;
  }
  
  .dialog-box {
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 3rem;
    background: white;
    width: 65%;
    padding-top: 2rem;
    border-radius: 20px;
    border: 0;
    box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
    animation: fadeIn 1s ease both;
    z-index: 9999;
  }
  
  .dialog-box::backdrop {
    animation: fadeIn 1s ease both;
    background: rgb(255 255 255 / 40%);
    z-index: 2;
    backdrop-filter: blur(20px);
  }
  
  .dialog-box .x {
    filter: grayscale(1);
    border: none;
    background: none;
    position: absolute;
    top: 15px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  
  .dialog-box .x:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
  
  .dialog-box h2 {
    font-weight: 600;
    font-size: 2rem;
    padding-bottom: 1rem;
  }
  
  .dialog-box p {
    font-size: 1rem;
    line-height: 1.3rem;
    padding: 0.5rem 0;
  }
  
  .dialog-box p a:visited {
    color: rgb(var(--vs-primary));
  }