<!--<section style="display: flex; flex-direction: row; margin-top: 2%; margin-bottom: 2%;">

    <div class="card bg-dark">
        <span class="card__title text-light">Notre budget</span>
        <p class="card__text text-light">500 dt</p>
      </div>
      <div class="card bg-dark">
        <span class="card__title text-light">Next Event</span>
        <p class="card__text text-light">Recrutement</p>
      </div>
      <div class="card bg-dark">
        <span class="card__title text-light">Nos Membres        </span>
        <p class="card__text text-light">15 Membres</p>
      </div>
      
</section> --->




<div class="row" style="margin-left: 3%;" >
  <div class="col">
    
<div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
  <div class="card-header" style="display: inline-flex; text-align: left;">
        
    <img class="table-user" src="assets/image/logo.jpg" alt="">
    <h4>FA</h4>
    
  </div>
  <div class="card-body">
    <h4 class="card-title">Membres</h4>
    <p class="card-text">15 Membres</p>
  </div>
</div>


  </div>
  <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header" style="display: inline-flex; text-align: left;">
        
        <img class="table-user" src="assets/image/jack01.jpg" alt="">
        <h4>Jerbi</h4>
        
      </div>
      <div class="card-body">
        <h4 class="card-title">Budget</h4>
        <p class="card-text">500 TND</p>
      </div>
    </div>

  </div>
  <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
      <div class="card-header" style="display: inline-flex; text-align: left;">
        
        <img class="table-user" src="assets/image/logo.jpg" alt="">
        <h4>FA</h4>
        
      </div>
      <div class="card-body">
        <h4 class="card-title">Prochaine évenement</h4>
        <p class="card-text">Recrutement</p>
      </div>
    </div>

  </div>
</div>

