/*.card {
    width: 90%;
    height: 160px;
    margin-left: 2%;
    margin-right: 2%;
    padding: 10px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
  }
  
  .card__title {
    font-weight: 800;
    text-align: center;
  }
  
  .card__text {
    font-weight: 500;
    text-align: center;
  }
  
  */

  .table-user {
    --size: 40px;
    width: var(--size);
    height: var(--size);
    object-fit:contain;
    border-radius: 50%;
    margin-right: 2%;
  }

  
  